JENKINS_UI_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_DATA_PATH=../jenkins_data

JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=change_me

DOCKERHUB_USER=replace_me
DOCKERHUB_TOKEN=replace_me
DOCKER_HOST_SOCKET=/var/run/docker.sock

KUBECTL_VERSION=stable
KUBECONFIG_PATH=

COMPOSE_PROJECT_NAME=yas
